extends layout
block content
    style.
        body {
            background-image: url(/earth4.jpg);
            background-size: cover;
            background-position: center
        }
        h1 {
            text-align: center;
            color: #aec5d9
        }
        a {
            color: #aec5d9;
            font-size: 15.5px;
            //- color: linear-gradient(to bottom, #aec5d9 0%, #000066 100%);
        }
        div.buttons {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 70%;
        }
        button {
            width: 200px;
            height: 100px;
            font-size: 18px;
            border-radius: 12px;
            color: #aec5d9;
            background-color: black
        }
    h1 #{heading}
    div.buttons
        form(method="get" action="/country")
            button(type="submit") Country Reports   
        form(method="get" action="/city")
            button(type="submit") City Reports
        form(method="get" action="/capitalcity")
            button(type="submit") Capital City Reports
        form(method="get" action="/population")
            button(type="submit") Population Reports