extends layout
block content
    - console.log(data)
    .main-content
    style. 
        div.top {
            display: flex;
            justify-content: center;
            position: relative;
        }
        button {
            width: 120px;
            height: 50px;
            border-radius: 12px;
            position: absolute;
            left: 20px;
            margin-top : 20px;
            background-color : #238636;
            font-size : 14px;
            color : #d9f4f3
        }
        div.box {
            text-align: center;
            font-size: 20px;
        }
    div.top
        h1 #{heading}
        form(method="get" action="/")
            button(type="submit") Home Page
    div.box
        h2 Enter a value for N
            form(action='/user-input', method='POST')
                textarea(name='note' rows=2 cols=20)
                div
                input(type='submit' value='Submit')