html
    style.
        head {
            font-family: Calibri
        }
        body {
            font-family: Calibri;
            background: #0d1117;
            color: #aec5d9
        }
    head
        title #{title}
    body
        block content
